* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #ccc;
}

.container h1 {
    flex-grow: 1;
    margin: 10px;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumbs {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.breadcrumbs {
    margin: 10px;
}

.breadcrumbs .breadcrumb_container .breadcrumb {
    display: flex;
    width: 50%;
    list-style-type: none;
}

.breadcrumbs .breadcrumb_container .breadcrumb li {
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
}

.breadcrumbs .breadcrumb_container .breadcrumb li::after {
    content: '/';
    margin: 0 10px;
}

.breadcrumbs .breadcrumb_container .breadcrumb .breadcrumb_item:last-child::after {
    content: '';
}

.breadcrumbs .breadcrumb_container:nth-child(2), .breadcrumbs .breadcrumb_container:nth-child(3) {
    display: none;
}

.lista {
    margin: 20px;
}

.lista, .lista_item {
    list-style: none;
}

.lista_item li {
    content: ' ';
    display: none;
}