* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 10px;
}

.btn-group-vertical .btn:not(.dropdown) {
    width: 20%;
    padding: 10px 0;
    text-align: center;
    background-color: #48e;
    color: #eee;
    border: none;
    cursor: pointer;
    transition: background-color .5s;
}

.btn-group-vertical .dropdown {
    width: 20%;
}

.btn-group-vertical .dropdown label {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: #48e;
    color: #eee;
    border: none;
    cursor: pointer;
    transition: background-color .5s;
}

.btn-group-vertical .btn:first-child {
    border-radius: 5px 5px 0 0;
}

.btn-group-vertical .btn:last-child {
    border-radius: 0 0 5px 5px;
}

.btn-group-vertical .btn:hover, .btn-group-vertical .dropdown label:hover {
    background-color: #37c;
}

.btn-group-vertical .dropdown {
    position: relative;
}

.btn-group-vertical .dropdown label input {
    display: none;
}

.btn-group-vertical .dropdown label::after {
    content: '\25B6';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: .8rem;
}

.btn-group-vertical .dropdown .dropdown-menu {
    max-width: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
}

.btn-group-vertical .dropdown label:has(input:checked) {
    background-color: #37c;
}

.btn-group-vertical .dropdown label input:checked ~ .dropdown-menu {
    max-width: 100%;
    border: 1px solid #ddd;
}

.btn-group-vertical .dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color .5s;
    text-decoration: none;
}

.btn-group-vertical .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #f5f5f5;
}

.btn-group-radio {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 20%;
    margin: 10px auto;
}

.btn-group-radio .btn {
    border: 0;
}

.btn-group-radio .btn label {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #48e;
    background-color: #fff;
    color: #48e;
    cursor: pointer;
    transition: background-color .5s;
}

.btn-group-radio .btn:first-child {
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
}

.btn-group-radio .btn:last-child {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.btn-group-radio .btn input {
    display: none;
}

.btn-group-radio .btn:has(input:checked) label {
    background-color: #48e;
    color: #fff;
}

