* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
}

.btn-group {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.btn-group button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.btn-group button:hover {
    background-color: #0056b3;
}

.btn-group button:first-child {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn-group button:last-child {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}